# Global network configuration
NET_SUBNET=172.30.0.0/24
HOST_ALIAS=host.docker.internal

##########
# Denodo #
##########
# For Denodo Customers:     DENODO_VERSION=harbor.open.denodo.com/denodo-9/images/denodo-platform:latest
# For Denodo Express Users: DENODO_VERSION=harbor.open.denodo.com/denodo-express/denodo-platform:latest
DENODO_VERSION=harbor.open.denodo.com/denodo-express/denodo-platform:latest
# For Denodo Customers:     DENODO_AI_SDK_VERSION=harbor.open.denodo.com/denodo-connects-9/images/ai-sdk:latest
# For Denodo Express Users: DENODO_AI_SDK_VERSION=harbor.open.denodo.com/denodo-express/ai-sdk:latest
DENODO_AI_SDK_VERSION=harbor.open.denodo.com/denodo-express/ai-sdk:latest
# Full Path to your Denodo Standalone license file
DENODO_SA_LIC=./conf/denodo.lic

# ###############################
# Denodo AI SDK
# ###############################
DENODO_AI_SDK_HOSTNAME=ai-sdk
DENODO_AI_SDK_EXTERNAL_PORT=8008
DENODO_AI_SDK_MODE=api
DENODO_CHATBOT_EXTERNAL_PORT=9992

AI_SDK_VER=0.10
CUSTOM_INSTRUCTIONS=
AI_SDK_ROOT_PATH=denodo-ai-sdk
CHATBOT_ROOT_PATH=denodo-chatbot

# Databases to vectorize
# ================================
VDB_NAMES=admin
VECTOR_STORE=Chroma

# LLM Infrastructure configuration
# ================================
## OpenAI, Bedrock, Google, Mistral, Ollama, ...
PROVIDER=OpenAI
## gpt-4o, anthropic.claude-3-5-sonnet-20240620-v1:0, gemini-1.5-pro, mistral-large-latest, llama-3.1-nemotron-70b-instruct, ...
LLM_MODEL=gpt-4o
LLM_TEMPERATURE=0.0
LLM_MAX_TOKENS=2048
## text-embedding-3-large, titan-embed-text-v2, gecko, mistral-embed, ...
EMB_MODEL=text-embedding-3-large
## OpenAI, ...
THINKING_LLM_PROVIDER=OpenAI
## o4-mini, ...
THINKING_LLM_MODEL=o4-mini
THINKING_LLM_TEMPERATURE=1.0
THINKING_LLM_MAX_TOKENS=10240
### OPENAI Security options configuration
OPENAI_API_KEY=sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
OPENAI_ORG_ID=
OPENAI_PROXY=

# ###############################
# Denodo SAMPLE CHATBOT tutorial
# ###############################
# Denodo Express with banking datasources
DENODO_CHATBOT_AI_SDK_HOSTNAME=ai-sdk-chatbot
DENODO_CHATBOT_DENODO_VDP_HOSTNAME=denodo-express
DENODO_CHATBOT_VDP_EXTERNAL_WEB_PORT=9090
DENODO_CHATBOT_VDP_EXTERNAL_ARROWFLIGHTSQL_PORT=9994
DENODO_CHATBOT_VDP_EXTERNAL_ODBC_PORT=9996
DENODO_CHATBOT_VDP_EXTERNAL_JMX_PORT=9997
DENODO_CHATBOT_VDP_EXTERNAL_PORT=9999
INTERNAL_DATA_CATALOG_URL=http://denodo-express:9090/denodo-data-catalog/
EXTERNAL_DATA_CATALOG_URL=http://localhost:9090/denodo-data-catalog/
SERVICE_ACCOUNT_USERNAME=admin
SERVICE_ACCOUNT_PASSWORD=admin
DENODO_CHATBOT_SAMPLE_VDB_NAMES=admin
